{% extends 'base.html' %}
{% block content %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/frontpage.css' %}">

    <form target="_blank" action="/submitEval.php">
        <div class="searchcontainer">
            <input class='searchfield' type='text' name='search' placeholder='Town, address or zip code' />
            <input class="button" type="submit" value="Search">
            <input id="advsearch" type="#" value="Advanced search">
        </div>
    </form>

{% endblock %}