{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/frontpage.css' %}">
{% endblock %}
{% block title %}Home -{% endblock %}
{% block content %}
    <img src="{% static 'images/slogan.svg' %}" id="slogan" alt="slogan">
    <form action="{% url 'search-index' %}" method="GET">
        <div class="searchcontainer">
            {{ form.search }}
            <div class="zipDiv">
                <label class="filter-labels">Zip code</label>
                {% for field in form.checkboxZip %}
                       {{ field }}
                {% endfor %}
            </div>
            <div class="dropdown-container">
                <div class="dropdownDiv">
                <label class="filter-labels">Price</label>
                <div class="select-container">
                    <select name="pricesLow" class="alldropdowns" id="id_pricesLow">
                        {% for field in form.pricesLow %}
                            {% if forloop.first %}
                                <option value="#" selected="" disabled="">From</option>
                            {% else %}
                                {{ field }}
                            {% endif %}
                        {% endfor %}
                    </select>
                    <select name="pricesHigh" class="alldropdowns" id="id_pricesHigh">
                        {% for field in form.pricesHigh %}
                            {% if forloop.first %}
                                <option value="#" selected="" disabled="">To</option>
                            {% else %}
                                {{ field }}
                            {% endif %}
                        {% endfor %}
                    </select>
                    </div>
                </div>
            <div class="dropdownDiv">
                <label class="filter-labels">Size</label>
                <div class="select-container">
                    <select name="sizesLow" class="alldropdowns" id="id_sizesLow">
                        {% for field in form.sizesLow %}
                            {% if forloop.first %}
                                <option value="#" selected="" disabled="">From</option>
                            {% else %}
                                {{ field }}
                            {% endif %}
                        {% endfor %}
                    </select>
                    <select name="sizesHigh" class="alldropdowns" id="id_sizesHigh">
                        {% for field in form.sizesHigh %}
                            {% if forloop.first %}
                                <option value="#" selected="" disabled="">To</option>
                            {% else %}
                                {{ field }}
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="dropdownDiv">
                <label class="filter-labels">Rooms</label>
                <div class="select-container">
                    <select name="roomsLow" class="alldropdowns" id="id_roomsLow">
                        {% for field in form.roomsLow %}
                            {% if forloop.first %}
                                <option value="#" selected="" disabled="">From</option>
                            {% else %}
                                {{ field }}
                            {% endif %}
                        {% endfor %}
                    </select>
                    <select name="roomsHigh" class="alldropdowns" id="id_roomsHigh">
                        {% for field in form.roomsHigh %}
                            {% if forloop.first %}
                                <option value="#" selected="" disabled="">To</option>
                            {% else %}
                                {{ field }}
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="dropdownDiv">
                <label class="filter-labels">Type</label>
                <div class="select-container">
                <div id="checkboxtype">
                    {% for field in form.types %}
                        {{ field }}{{ field.subject.label_tag }}
                    {% endfor %}
                </div>
                </div>
            </div>
            </div>

            <input class="button" type="submit" value="Search">
        </div>
    </form>

{% endblock %}