{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/property.css' %}">
    <link rel="stylesheet" href="{% static 'css/contacts.css' %}">
{% endblock %}
{% block title %}{{ property.address }} -{% endblock %}
{% block content %}
    <div class="img-banner">
        {% for image in images %}
            {% if image.propertyId_id == property.propertyId %}
                <div class="img slides">
                    <div class="left-arrow arrow" onclick="plusSlides(-1)"></div>
                    <img src="{{ image.propImgUrl }}" alt="Property Image">
                    <div class="right-arrow arrow" onclick="plusSlides(1)"></div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="info">
        <div id="core-info">
            <p id="price">&euro;{{property.price}}</p>
            <p id="street">{{property.address}}, {{ property.zipCode }}</p>
            <p id="register">The listing was registered on {{property.added}}</p>
            <div id="about">
                <p><!--id="info"-->
                    <b>Lorem</b> ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                    ea commodo consequat. Duis aute irure dolor in reprehenderit
                    in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br><br>
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                    anim id est laborum. Elit sed vulputate mi sit amet mauris commodo quis. Curabitur gravida
                    arcu ac tortor dignissim convallis aenean et. Ante metus dictum at tempor commodo ullamcorper
                    a lacus vestibulum. Massa enim nec dui nunc mattis. Quam adipiscing vitae proin sagittis. Non
                    odio euismod lacinia at quis. Elementum integer enim neque volutpat ac. Aliquam ut porttitor
                    leo a diam sollicitudin tempor id. Gravida in fermentum et sollicitudin ac orci. Vulputate eu
                    scelerisque felis imperdiet proin fermentum. Ultrices vitae auctor eu augue. Sit amet venenatis
                    urna cursus. Egestas fringilla phasellus faucibus scelerisque.<br><br> Consequat ac felis donec et odio
                    pellentesque. Ornare lectus sit amet est placerat in egestas erat. Urna neque viverra justo nec
                    ultrices dui sapien. Facilisis volutpat est velit egestas dui id ornare arcu odio. Turpis egestas
                    maecenas pharetra convallis posuere morbi leo urna molestie. Nisl nisi scelerisque eu ultrices
                    vitae auctor eu.
                </p>
            </div>
        </div>
        <div id="container">
            <div id="additional-info">
            <form action="/payment/{{ property.propertyId }}" method="GET">

                <input class="btn" id="button" type="submit" value="Buy now">
            </form>
            <div id="realtor">
                {% for realtors in realtor %}
                    {% if property.realtId_id == realtors.realtId %}
                        {% for accounts in account %}
                            {% if realtors.accountId_id == accounts.accountId %}
                                <a><p><b>Realtor:</b> {{ accounts.firstName }} {{ accounts.lastName }}</p></a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                <div id="myPopup{{ realtor.accountId_id }}" class="modal">
                <div class="popup-content">
                    <span class="close">&times;</span>
                    <div class="popupLeft">
                    {% for account in accounts %}
                        {% if account.accountId == realtor.accountId_id %}
                            <h3 class="htags">{{ account.firstName }} {{ account.lastName }}</h3>
                        {% endif %}
                    {% endfor %}
                        {% for image in realtorImgs %}
                            {% if image.realtImgId == realtor.realtImgId_id %}
                                <img src="{{ image.realtImgUrl }}">
                            {% endif %}
                        {% endfor %}
                        {% for account in accounts %}
                            {% if account.accountId == realtor.accountId_id %}
                                <div class="emailphone">
                                    <a class="email" href="mailto:{{ account.email }}" target="_top">{{ account.email }}</a>
                                    <br><br><span class="phone">+354 - {{ account.phoneNo }}</span>
                                </div>
                            {% endif %}
                        {% endfor %}
                        </div>
                        <h3 class="htags">Information</h3 >
                        <p class="realdes">{{ realtor.description }}</p>
                </div>
            </div>
            </div>
            <p><b>Built in:</b> {{ property.yearbuilt }}</p>
            <p><b>Size:</b> {{ property.size }} Fm²</p>
            <p><b>Rooms:</b> {{ property.rooms }}</p>
            <p><b>Bedrooms:</b> {{ property.bedrooms }}</p>
            <p><b>Bathrooms:</b> {{ property.bathrooms }}</p>
        </div>
            <div id="similar">
            <h4>Similar Listings:</h4>
            {% for properties in allprops %}
                {% if properties.description == property.description %}
                    {% if properties.propertyId != property.propertyId %}
                        <div id="listing">
                            {% for propimg in frontimg %}
                                {% if properties.propertyId == propimg.propertyId_id %}
                                    <img id="thumbnail" src="{{ propimg.propImgUrl }}">
                                {% endif %}
                            {% endfor %}

                            <div class="similar-info">
                                <p><b><u><a href="../property/{{ properties.propertyId }}" style="color: white">{{ properties.address }}</a></u></b></p>
                                <p>{{ properties.size }} Fm²</p>
                                <p>Built in {{ properties.yearbuilt }}</p>
                                <p>{{ properties.rooms }} Rooms</p>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        </div>
    </div>
    <div id="gallery">
        <div class="gallery-container">
                {% for image in images %}
                    {% if image.propertyId_id == property.propertyId %}
                        <div class="gallery-img">
                            <img src="{{ image.propImgUrl }}" alt="Property Image">
                            </div>
                    {% endif %}
                {% endfor %}
        </div>
    </div>
    <!-- TODO: Perhaps add <iframe> for Google Maps here -->
    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
          showSlides(slideIndex += n);
        }

        function currentSlide(n) {
          showSlides(slideIndex = n);
        }

        function showSlides(n) {
          var i;
          var slides = document.getElementsByClassName("slides");

          if (n > slides.length) {slideIndex = 1}
          if (n < 1) {slideIndex = slides.length}
          for (i = 0; i < slides.length; i++) {
              slides[i].style.display = "none";
          }

          slides[slideIndex-1].style.display = "block";
        }

        // Opens a pop-up window with more details about clicked realtor
        document.body.addEventListener("click", function (e) {
            if (e.target.id.indexOf('realtor') >= 0) {
                popUp(e.target, "block");
            }
            else if (e.target.parentElement.id.indexOf('realtor') >= 0) {
                popUp(e.target.parentElement, "block");
            }
        });

        // closes popup window
        document.body.addEventListener("click", function(e) {
            if (e.target.id.indexOf("myPopup") >= 0) {
                popUp(e.target, "none");
            }
            else if (e.target.className == "close") {
                popUp(e.target.parentElement.parentElement, "none");
            }
        });

        function popUp(element, displayStyle) {
            var container = document.getElementById('myPopup'+element.id.slice(-2));
            container.style.display = displayStyle;

        }
    </script>

{% endblock %}