{% extends 'base.html' %}
{% block content %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/property.css' %}">
    <div class="img-banner">
        <div class="img">
            <div class="left-arrow"></div>
            <div class="right-arrow"></div>
        </div>
    </div>
    <div class="info">
        <div id="core-info">
            <p>Price</p>
            <p>Street</p>
            <p>Register</p>
            <p>Info</p>
        </div>
        <div id="similar">
            <h4>Similar Listings:</h4>
            <div id="listing1">
                <div id="thumbnail"></div>
                <p><b><u>Name of the Street</u></b></p>
                <p>m²</p>
                <p>Built</p>
                <p>Rooms</p>
            </div>
            <div id="listing2">
                <div id="thumbnail"></div>
                <p><b><u>Name of the Street</u></b></p>
                <p>m²</p>
                <p>Built</p>
                <p>Rooms</p>
            </div>
            <div id="listing3">
                <div id="thumbnail"></div>
                <p><b><u>Name of the Street</u></b></p>
                <p>m²</p>
                <p>Built</p>
                <p>Rooms</p>
            </div>
            <div id="listing4">
                <div id="thumbnail"></div>
                <p><b><u>Name of the Street</u></b></p>
                <p>m²</p>
                <p>Built</p>
                <p>Rooms</p>
            </div>
            <div id="listing5">
                <div id="thumbnail"></div>
                <p><b><u>Name of the Street</u></b></p>
                <p>m²</p>
                <p>Built</p>
                <p>Rooms</p>
            </div>
        </div>
        <div id="additional-info">
            <p>m²</p>
            <p>Built</p>
            <p>Rooms</p>
            <p>bathrooms</p>
            <p>Bedrooms</p>
            <p>Dungeon Y/N</p>
        </div>
    </div>
    <script>


    </script>

{% endblock %}