.head-1{
    color: #910000;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.head-2{
    text-align: center;
    color: #910000;
    font-family: 'Open Sans', sans-serif;
    text-decoration: underline;
    text-decoration-color: #2E4570;
}

.about-container{
    border-radius: 1rem;
    width: 70%;
    position: absolute;
    right: 1rem;
    left: 11rem;


}

p{
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

.container-ab{
    background: white;
    border-radius: 1rem;
    height: 100%;
    width: 75%;
    position: absolute;
    top: 5rem;
    right: 1rem;
    left: 8.5rem;
    opacity: 0.7;
    border: 0.3rem;
    border-style: solid;
    border-color: #2E4570;
}