
input[type=text], textarea {
    background: rgba(255, 255, 255, 1);
    border-top: 0.06rem solid #2E4570;
    border-left: 0.06rem solid #2E4570;
    border-right: 0.06rem solid #2E4570;
    border-bottom: 0.2rem solid #2E4570;
    border-radius: 0.5rem;
    height: 2.2rem;
    font-size: 1.3rem;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    margin-top: 0.375rem;
    margin-bottom: 1rem;
    resize: vertical;
}

input[type=submit] {
    width: 10rem;
    height: 2.5rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    color: white;
    background-color: #2E4570;
    display: block;
    margin: auto;
}

textarea:focus, input:focus{
    outline: none;
}

.container {
    border: 0.3rem solid #2E4570;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1.25rem;
    width: 50%;
    margin: auto;
    margin-top: 2rem;
}

h2 {
    text-align: center;
}

textarea {
    height: 9rem;
    background: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    border-radius: 1rem;
}