.signup_border {
    background-color: rgba(255, 255, 255, 0.8);
    width: 70%;
    border: 0.3rem solid #2E4570;
    border-radius: 1rem;
    margin: 3rem auto 3rem auto;
    padding-bottom: 1rem;
}
h2 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 25rem;
    width: 100%;
}

.inputs {
    background: rgba(255, 255, 255, 1);
    border-top: 0.06rem solid #2E4570;
    border-left: 0.06rem solid #2E4570;
    border-right: 0.06rem solid #2E4570;
    border-bottom: 0.2rem solid #2E4570;
    border-radius: 0.5rem;
    height: 2.2rem;
    width: 20rem;
    font-size: 1.3rem;
    padding-left: 1rem;
    display: block;
    margin-bottom: 0.5rem;
    cursor: auto;
}
textarea:focus, input:focus{
    outline: none;
}

label {
    font-size: 1.3rem;
    font-weight: bold;
}
#button{
    width: 40%;
    height: 2.5rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    color: white;
    background-color: #2E4570;
    display: block;
    margin: auto;
    margin-top: 1rem;
}

#button:hover {
    cursor: pointer;
}

#signup {
    height: 5rem;
    float: right;
    margin-right: 10%;
}

.buttonInside{
  position:relative;
  margin: auto;
}
.edit-button{
    position:absolute;
    right: 0.25rem;
    top: 1.9rem;
    border:none;
    background: transparent;
    cursor: pointer;
}

::selection {
    background: rgba(46, 69, 112, 0.9);
    color: white;
}
::-moz-selection {
    background: rgba(46, 69, 112, 0.9);
}

@media screen and (max-width: 1050px) {
    .container {
        height: 65rem;
    }
    .inputs {
        margin: auto;
        margin-bottom: 2rem;
        margin-top: 0;

    }
}

@media screen and (max-width: 700px) {
    .signup_border{
        width: 90%;
    }
    .inputs {
        width: 100%;
    }
}
