.searchcontainer{
    position: fixed;
    top: 50%;
    left: 40%;
    margin-top: -50px;
    margin-left: -100px;
}


.searchfield{
    width: 24rem;
    height: 2rem;
    border-radius: 30px;
    border: 0.2rem solid black;
}