.container {
    background-color: rgba(255, 255, 255, 0.8);
    height: 22.5rem;
    width: auto;
    max-width: 25rem;
    min-width: 18rem;
    border: 0.3rem solid #2E4570;
    border-radius: 1rem;
    margin: auto;
    margin-top: 8rem;
}
h3, h4 {
    text-align: center;
}
.inputs {
    background: rgba(255, 255, 255, 1);
    border-top: 0.06rem solid #2E4570;
    border-left: 0.06rem solid #2E4570;
    border-right: 0.06rem solid #2E4570;
    border-bottom: 0.2rem solid #2E4570;
    border-radius: 0.5rem;
    height: 2.2rem;
    width: 16rem;
    font-size: 1.3rem;
    padding-left: 1rem;
    display: block;
    margin: auto;
    margin-bottom: 1rem;
}
textarea:focus, input:focus{
    outline: none;
}
.button, #sign-up{
    width: 10rem;
    height: 2.5rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    color: white;
    background-color: #2E4570;
    display: block;
    margin: auto;
}

.button:hover {
    cursor: pointer;
    opacity: 0.8;
}

button{
    width: 15rem !important;

}

label {
    display: none;
}

.errors {
    background-color: rgba(255, 255, 255, 0.8);
    width: 70%;
    /*height: 3rem;*/
    margin: 0 15%;
    border: 2px solid #910000;
    border-bottom: 4px solid #910000;
    border-top: 0;
    border-radius: 0 0 1rem 1rem;
    padding: 0.5rem 0 0.5rem;
    position: absolute;
    align-content: center;

}
.errors > strong {
    margin: 0 0.75rem auto;
    padding: 1rem 0 1rem;
    /*text-align: center;*/
}

.dot {
    height: 0.5rem;
    width: 0.5rem;
    background-color: #910000;
    border-radius: 50%;
    display: inline-block;
    margin: 0 0 0.1rem 1rem;
}