.container {
    background-color: rgba(255, 255, 255, 0.8);
    height: 80%;
    border: 0.3rem solid #2E4570;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    min-width: 21rem;
    max-width: 70rem;
}

.inputs {
    background: rgba(255, 255, 255, 1);
    border-top: 0.06rem solid #2E4570;
    border-left: 0.06rem solid #2E4570;
    border-right: 0.06rem solid #2E4570;
    border-bottom: 0.2rem solid #2E4570;
    border-radius: 0.5rem;
    height: 2.2rem;
    width: 80%;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}
#cardType{
    display: inline;
}
.prop-info-container{
    margin-left: auto;
    margin-right: auto;
    order:1;
    min-height: 13.5rem;
    width: 70%;
    min-width: 34rem;
}

.img-container{
    float: left;
    order:0;
    height: 100%;
    width:100%;
    max-width: 20rem;
}
#propinfo {
    padding-top: 1rem;
    text-align: center;
}


.billing-container{
    text-align: center;
    width: 100%;
}
.box1 {
    display: inline-block;
    width: 45%;
    min-width: 20rem;
    text-align: center;
}

.box2 {
    display: inline-block;
    width: 45%;
    min-width: 20rem;
    text-align: center;
}

h2 {
    text-align:center;
}
textarea:focus, input:focus {
    outline: none;
}
.button, #sign-up {
    width: 10rem;
    height: 2.5rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    color: white;
    background-color: #2E4570;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
}

.button:hover {
    cursor: pointer;
}

button {
    width: 15rem !important;
}

img {
    width: 100%;
}
@media only screen and (max-width: 650px) {
    .prop-info-container{
        width: 20.1rem;
        min-width: 20rem;
    }
    .img-container{
        margin-bottom: 0.5rem;
    }
}