.review-container{
    background-color: rgba(255, 255, 255, 0.8);
    width: 70%;
    border: 0.3rem solid #2E4570;
    border-radius: 1rem;
    margin:3rem auto 3rem auto;
    padding-bottom: 1rem;
    height: 60rem;
}

h2 {
    text-align: center;
}

.img-container img {
    width: 100%;
    border-radius: 1rem;
    height: 100%

}

.img-container{
    border: 0.3rem solid #2E4570;
    border-radius: 1rem;
    width: 90%;
    background-color: #4f4f4f;
    order: 0;
    height: 100%;
}

#payinfo {
    float: right;
    margin-right: 5%;
}

.prop-info {
    width: 50%;
    text-align: center;
    margin-left: 5%;
}

#button{
    width: 10rem;
    height: 2.5rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    color: white;
    background-color: #2E4570;
    display: block;
    margin: auto;
}

#button:hover {
    cursor: pointer;
}