.container {
    background-color: rgba(255, 255, 255, 0.8);
    height: 80%;
    border: 0.3rem solid #2E4570;
    border-radius: 1rem;
    margin-top: 4rem;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 120rem;
    width: 80%;
    max-width: 70rem;
    justify-content: space-around;
    align-content: center;
    margin:1rem;
}

.inputs {
    background: rgba(255, 255, 255, 1);
    border-top: 0.06rem solid #2E4570;
    border-left: 0.06rem solid #2E4570;
    border-right: 0.06rem solid #2E4570;
    border-bottom: 0.2rem solid #2E4570;
    border-radius: 0.5rem;
    height: 2.2rem;
    width: 20rem;
    font-size: 1.3rem;
    padding-left: 1rem;
    display: block;
    margin: auto;
    margin-bottom: 1rem;
}

.billing-container{
    order:0;
    display:flex;
    flex-direction: column;
    margin:auto;
}

.prop-info-container{
    order:1;
    display:flex;
    flex-direction: column;
    margin:auto;
}

.img-container{
    flex-basis: 2rem;
    order:0;
    height: 100%;
    width:100%;
    max-width: 20rem;
    max-heigt: 20rem;

}

.box1{
    align-self: flex-start;
    text-align: center;
    margin: auto;
}

.box2{
    align-self: flex-end;
    margin: auto;
}

h3{
    text-align:center;

}


textarea:focus, input:focus{
    outline: none;
}
.button, #sign-up{
    width: 10rem;
    height: 2.5rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    color: white;
    background-color: #2E4570;
    display: block;
    margin: auto;
}

.button:hover {
    cursor: pointer;
}

button{
    width: 15rem !important;

}

img{
    width: 100%;
}


