
.img-banner {
    position: relative;
    background-color: rgba(24, 24, 24, 0.9);
    width: 100%;
    height: 33rem;
    border-bottom: 0.3125rem solid rgba(46, 69, 112, 0.9);
}

.img {
    background-size: cover;
    position: relative;
    margin: auto;
    width: 45rem;
    height: 100%;
    max-width: 100%;
}

.img img {
    height: 100%;
    position: relative;
    margin: auto;
    max-width: 45rem;
}

.left-arrow {
    position: absolute;
    right: 101%;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 1rem solid transparent;
    border-right: 2rem solid rgba(145, 0, 0, 1);
    border-bottom: 1rem solid transparent;
}
.left-arrow:hover {
    border-right: 2rem solid rgba(145, 0, 0, 0.8);
    cursor: pointer;
}
.right-arrow {
    position: absolute;
    left: 101%;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 1rem solid transparent;
    border-left: 2rem solid rgba(145, 0, 0, 1);
    border-bottom: 1rem solid transparent;
}
.right-arrow:hover {
    border-left: 2rem solid rgba(145, 0, 0, 0.8);
    cursor: pointer;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    min-height: 50rem;
    background-color: rgba(255, 255, 255, 0.8);
    width: 90%;
}

#core-info {
    float: left;
    width: 60.5%;
    margin-right: 2rem ;
}

#additional-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1rem;
    height: 20rem;
    width: 15rem;
    margin-bottom: 2rem;
}

#additional-info p {
    margin: 0.5rem;
}

#similar {
    margin: 0;
    background-color: rgba(145, 0, 0, 1);
    width: 16rem;
    height: auto;
    color: white;
    display: flex;
    flex-direction: column;
    padding-right: 0.5rem;
    border-radius: 1rem;
}

#thumbnail {
    margin: 0 0.5rem 1rem 1rem;
    background-size: cover;
    position: relative;
    background-color: #4f4f4f;
    width: 4rem;
    height: 4rem;
    float: left;
}
.similar-info {
    width: auto;
    height: auto;
    margin-bottom: 1rem;
}
.similar-info p {
    margin-top: 0;
    margin-bottom: 0.1rem;
}
#listing1 #thumbnail {
    background-image: url("../images/castles/00_01.jpeg");
}

#listing2 #thumbnail {
    background-image: url("../images/castles/00_02.jpeg");
}

#listing3 #thumbnail {
    background-image: url("../images/castles/00_03.jpeg");
}

#listing4 #thumbnail {
    background-image: url("../images/castles/01_01.jpeg");
}
#listing5 #thumbnail {
    background-image: url("../images/castles/01_02.jpeg");
}

h4 {
    text-align: center;
    text-decoration: underline;
    color: white;
}

#core-info {
    margin-left: 2rem;
}

#price {
    font-size: 2.5rem;
    margin-bottom: 0.3rem;
    margin-top: 1rem;
}

#street {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#register {
    margin-top: 0.8rem;
    font-size: 1.6rem;
}

#about {
    font-size: 1.2rem;
    text-align: justify;
}
.btn {
    width: 100%;
    height: 2.5rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    color: white;
    background-color: #2E4570;
    display: block;
    margin: 1rem auto 0.3rem auto;
    cursor: pointer;
}

#gallery {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    background-color: rgba(255, 255, 255, 0.8);
    width: 90%;
}

.gallery-container {
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-img {
    width: 30rem;
    max-width: 30rem;
    height: 20rem;
    margin: 2%;
    background-color: transparent;
}

.gallery-img img {
    height: 100%;
    position: relative;
    margin: auto;
    max-width: 100%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 2rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.68);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: transparent;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 5rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


@media screen and (max-width: 995px) {
    .img-banner {
        height: 50vw;
        width: auto;
    }
    .img {
        background-color: transparent;
        background-repeat:no-repeat;
        background-size:contain;
        background-position:center;
        width: 75%;
    }
    .info {
        width: 100%;
        flex-direction: row;
    }
    #gallery {
        width: 100%;
    }
    #container{
        display: flex;
        justify-content: space-around
    }
    #core-info {
        width: 90%;
    }
    #similar {
        margin-right: 5rem;
    }
}
@media screen and (max-width: 712px) {
    #similar {
        margin-right: 5rem;
    }
    #container{
        display: flex;
        flex-direction: column;
        justify-content: space-around
    }
}