.img-container{
    background-color: #4f4f4f;
    order: 0;
    flex-basis: 22.5rem;
}

.container-prop{
    margin: auto;
    background-color: rgba(255, 255, 255, 0.8);
    height: 100%;
    width: 85%;

}

img {
    width: 100%;
}

.listing{
    border-top: solid;
    border-bottom: solid;
    border-color: black;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 100%;
    max-height: 30rem;
    padding: 1rem;
}

.prop-info{
    margin: auto;
    order: 1;
}

.result-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 100%;
    max-height: 10rem;
    justify-content: space-between;
}

.h3-container{
    order: 0;
}

.dd-container{
    order: 1;
}

