body {
    background-color: blue;
}
.signup_border {
    background-color: #FFFFFF;
    opacity: 0.85;
    height: 600px;
    width: 500px;
    border: 5px solid #2E4570;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
h2 {
    text-align: center;
}
.inputs {
    border: none;
    border-bottom: 5px solid #2E4570;
    float: center;
    height: 50px;
    width: 450px;
    font-size: 30px;
    margin-bottom: 20px;
    content: red;
    padding-left: 15px;
    display: block;
    margin: auto;
}
textarea:focus, input:focus{
    outline: none;
}
#button{
    width: 220px;
    height: 51px;
    border-radius: 25px;
    font-size: 30px;
    color: white;
    background-color: #2E4570;
    display: block;
    margin: auto;
}
#pass-word {

}
#re-password {

}