{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/contactus.css' %}">
{% endblock %}
{% block title %}Contact Us - {% endblock %}
{% block content %}
    <div class="container">
    <h2>Contact us</h2>
    <form method="POST" action="{# {% url 'contactus-index' %} #}">
{#        {% csrf_token %}#}
{#        {{ form }}#}
        <input type="text" id="name" name="fullname" placeholder="Full name">
        <input type="text" id="email" name="emailadress" placeholder="Email address">
        <input type="text" id="pnumber" name="phonenumber" placeholder="Phone number">
        <textarea id="subject" name="subject" placeholder="Your message.." ></textarea>
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}