{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/search.css' %}">

    <div class='searchbar'>
    </div>

    <div class='container-prop'>
    <br>
        <div class='result-container'>

            <div class='h3-container'>
                <h3 class='search-result'> properties found</h3>
            </div>


            <div id="" class='dd-container'>
                <label class="dropdown">

                <div class="dd-button">
                    Dropdown
                </div>

                <input type="checkbox" class="dd-input" id="test">

                <ul class="dd-menu">
                    <li>Action</li>
                    <li>Another action</li>
                    <li>Something else here</li>
                </ul>

            </label>
            </div>
        </div>
        {% for property in properties %}
            <div id="property{{ property.propertyId}}" class='listing'>
                <div class='img-container'>
                    {% for propimg in propimgs %}
                        {% if property.propertyId == propimg.propertyId_id %}
                            <img class='prop-img' src="{{ propimg.propImgUrl }}" alt="Property Image" width="150px" height="200px">
                        {% endif %}
                    {% endfor %}
                </div>
                <h2>{{ property.address }}</h2>
                <div class='prop-info'>

                    <p>Rooms: {{ property.rooms }}</p>
                    <p>Size: {{property.size }}</p>
                    <p>Type: {{property.description}}</p>
                </div>
            </div>
        {% endfor %}

        <!--
        <div class='listing'>
            <div class='img-container'>
               <img class='prop-img' src="{% static 'images/castles/00_00.jpeg' %}" alt="Property Image">

            </div>
            <div class='prop-info'>
                <p>some text</p>
                <p>some text</p>
                <p>some text</p>
                <p>some text</p>
            </div>
        </div>

        <div class='listing'>
            <div class='img-container'>
               <img class='prop-img' src="{% static 'images/castles/00_00.jpeg' %}" alt="Property Image">

            </div>
            <div class='prop-info'>
                <p>some text</p>
                <p>some text</p>
                <p>some text</p>
                <p>some text</p>
            </div>
        </div>

        <div class='listing'>
            <div class='img-container'>
               <img class='prop-img' src="{% static 'images/castles/00_00.jpeg' %}" alt="Property Image">

            </div>
            <div class='prop-info'>
                <p>some text</p>
                <p>some text</p>
                <p>some text</p>
                <p>some text</p>
            </div>
        </div>

        <div class='listing'>
            <div class='img-container'>
               <img class='prop-img' src="{% static 'images/castles/00_00.jpeg' %}" alt="Property Image">

            </div>
            <div class='prop-info'>
                <p>some text</p>
                <p>some text</p>
                <p>some text</p>
                <p>some text</p>
            </div>
        </div>

        <div class='listing'>
            <div class='img-container'>
               <img class='prop-img' src="{% static 'images/castles/00_00.jpeg' %}" alt="Property Image">

            </div>
            <div class='prop-info'>
                <p>some text</p>
                <p>some text</p>
                <p>some text</p>
                <p>some text</p>
            </div>
        </div>
        -->

    </div>



{% endblock %}