{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}
{% block title %}Search - {% endblock %}
{% block content %}
    <div class='searchbar'>
    </div>
    <div class='searchbar'></div>
    <div class='container-prop'>
    <br>
        <div class='result-container'>
            <div class='h3-container'>
                <h3 class='search-result'>{{properties.count}} properties found</h3>
            </div>
            {% for property in properties %}
                <div id="property{{ property.propertyId}}" class='listing'>
                    <div class='img-container'>
                        {% for propimg in propimgs %}
                            {% if property.propertyId == propimg.propertyId_id %}
                                <div id="propimg" style="background-image: url({{ propimg.propImgUrl }});">
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div id="proplocation">
                        <a href="/property/{{ property.propertyId }}"><h2>{{ property.address }}</h2><br><p id="zip">{{ property.zipCode }}</p></a>
                    </div>
                    <div class='prop-info'>
                        <p><b>Price:</b> &euro;{{ property.price }}</p>
                        <p><b>Rooms:</b> {{ property.rooms }}</p>
                        <p><b>Size:</b> {{property.size }} Fm&#178;</p>
                        <p><b>Type:</b> {{property.description}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
{% endblock %}