{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/aboutus.css' %}">

    <div>
        <h1 class='compname'>
            Castle Apartments
        </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Praesent efficitur nisi elit, eu tristique tortor consequat at.
            Curabitur eu vehicula ligula, eget faucibus elit.
            Duis sit amet eros at dui commodo lacinia.
            Nullam sit amet est nec ipsum viverra dignissim vel et mi.
            Phasellus in rhoncus dolor. Nullam non tempor eros. Duis consectetur est quam, in lobortis tortor dictum porta.
            Pellentesque auctor ipsum sed felis gravida rutrum. Morbi lorem dui, aliquam at condimentum id, facilisis a nisl.
            Nam tempor enim quam, ut sodales est posuere eget. Sed tempus turpis mi, nec eleifend turpis accumsan a.
            Cras pellentesque dui dolor, vel faucibus libero dapibus vel.
            Vivamus rhoncus sem vitae felis aliquet sollicitudin.</p>
    </div>
    <p>All real estates images were taken from <a href="https://pexels.com/">Pexels.com</a>.</p>
    <p>All rights reserved.</p>

{% endblock %}