{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/aboutus.css' %}">
{% endblock %}
{% block title %}About Us - {% endblock %}
{% block content %}
    <div class='container-ab'></div>
    <div class='about-container'>
        <br>
        <br>
        <img id="cstlogo" src="{% static "images/CastleAptLogo.svg" %}" alt='Castle Apartment'>
        <br>

        <div class='box-1'>
            <h2>
                Who are we
            </h2>
            <p>Castle Apartments was founded because we saw that there was gap in this real estate market.
                There didn't seem to be a site that specialized in selling headquarters for your evil deeds.
                Pablo Escobar once told us "Why is it so hard to find big buildings to hide your cash in" and he was right, it's really hard.
                <br>
                We are the solution to all your problems big and small. In need for a cabin to hideout? A villa for parties?
                A castle to hold out your enemies? We will find what fits your needs.
            </p>
        </div>
        <div class='box-2'>
            <h2>
                What can we do for you
            </h2>
            <p>
                The team at Castle Apartments are more than real estate agents looking for real estate listings. We are a
                dedicated team of passionate professionals who understand our clients needs and wants. We understand how much
                it is worth to get a good real estate, it's where memories are made and business deals as well.
                Castle Apartments has been building a wealth of experience and knowledge in the property market.
                We hope to bring you the best experience in real estate.
            </p>
        </div>

        <h2>
            Satisfaction is guaranteed
        </h2>
        <p>
            Integrity — Our agents will always provide you with honest, carefully considered advice.
            We will ensure you are in the best possible position to make clear decisions. Your success is our principal driver.
            <br>
            Professionalism — Real estate is our passion and it demands our focus.
            We strive to provide a high level of personalised service, whether you are a vendor or a potential purchaser.
            <br>
            Expertise — Service and integrity supported by commercial expertise is where Castle Apartments stands apart.
            A depth of local knowledge and eye for opportunities, we are your property partner.
        </p>
    </div>
    <div class='copyright'>
        <p>All real estates images were taken from <a href="https://pexels.com/">Pexels.com</a>.</p>
        <p>All rights reserved.</p>
    </div>

{% endblock %}