{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/aboutus.css' %}">
    <div class='container-ab'></div>
    <div class='about-container'>
        <br>
        <br>
        <img id="cstlogo" src="{% static "images/CastleAptLogo.svg" %}" alt='Castle Apartment'>
        <br>

        <div class='box-1'>
            <h2 class='head-2'>
                Who are we
            </h2>
            <p>Castle Apartments was founded because we saw that there was gap in this real estate market.
                There didn't seem to be a site that specialized in selling headquarters for your evil deeds.
                Pablo Escobar once told us "Why is it so hard to find big buildings to hide your cash in" and he was right, it's really hard.
                <br>
                Babycakes i just dont knowknow how i i, i licked my toes.
            </p>
        </div>
        <div class='box-2'>
            <h2>
                What can we do for you
            </h2>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Praesent efficitur nisi elit, eu tristique tortor consequat at.
            Curabitur eu vehicula ligula, eget faucibus elit.
            Duis sit amet eros at dui commodo lacinia.
            Nullam sit amet est nec ipsum viverra dignissim vel et mi.
            Phasellus in rhoncus dolor. Nullam non tempor eros. Duis consectetur est quam, in lobortis tortor dictum porta.
            Pellentesque auctor ipsum sed felis gravida rutrum. Morbi lorem dui, aliquam at condimentum id, facilisis a nisl.
            Nam tempor enim quam, ut sodales est posuere eget. Sed tempus turpis mi, nec eleifend turpis accumsan a.
            Cras pellentesque dui dolor, vel faucibus libero dapibus vel.
            Vivamus rhoncus sem vitae felis aliquet sollicitudin.
            </p>
        </div>

        <h2>
            Satisfaction is guaranteed
        </h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Praesent efficitur nisi elit, eu tristique tortor consequat at.
            Curabitur eu vehicula ligula, eget faucibus elit.
            Duis sit amet eros at dui commodo lacinia.
            Nullam sit amet est nec ipsum viverra dignissim vel et mi.
            Phasellus in rhoncus dolor. Nullam non tempor eros. Duis consectetur est quam, in lobortis tortor dictum porta.
            Pellentesque auctor ipsum sed felis gravida rutrum. Morbi lorem dui, aliquam at condimentum id, facilisis a nisl.
            Nam tempor enim quam, ut sodales est posuere eget. Sed tempus turpis mi, nec eleifend turpis accumsan a.
            Cras pellentesque dui dolor, vel faucibus libero dapibus vel.
            Vivamus rhoncus sem vitae felis aliquet sollicitudin.
        </p>
    </div>
    <div class='copyright'>
        <p>All real estates images were taken from <a href="https://pexels.com/">Pexels.com</a>.</p>
        <p>All rights reserved.</p>
    </div>

{% endblock %}