{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Castle Apartments</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/dropdown.js' %}"></script>
</head>
<body>
    <!-- Insert navbar here -->
    <div class="navbar">
        <a href="{% url 'home-index' %}"><img src="{% static 'images/CastleAptLogoInverted.svg' %}" id="logo"alt="logo">
        </a>
        <div class="drop">
            <div class="dropmenupos" onclick="myFunction()">
		        <div class="dropmenu"></div>
				<div class="dropmenu"></div>
				<div class="dropmenu"></div>
			</div>
	        <div id="dropdown" class="content">
                <a href="{% url 'signup-index' %}">Sign up</a>
		        <a href="{% url 'login-index' %}">Log in</a>
	    	</div>
    	</div>
    </div>



    {% block content %}

    {% endblock %}

    <!-- Insert footer here -->
    <div class="footer">
        <div class="upperfooter">
            <a href="{% url 'home-index' %}"><img src="{% static 'images/CastleAptLogo.svg' %}" id="footlogo" alt="logo2">
            </a>
            <div class="foot-links">
            <a href="#">Contact us</a>
            <a href="#">About us</a>
            <a href="{% url 'contacts-index' %}">Realtors</a>
            </div>
        </div>
        <div class=lowerfooter>
            <span id="info"><b>Castle Apartments Inc.</b>  - 186 Fleet Street, London - <a href="mailto:castle@castleapartments.com" target="_top">castle@castleapartments.com</a></span>
            <span id="copyright">© 2019</span>
        </div>
    </div>
</body>
</html>