{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/editprofile.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}
{% block title %} Edit Profile -{% endblock %}
{% block content %}

        <div class="signup_border">
            <h2>{{current.first_name}} {{current.last_name}}</h2>
            <form target="_blank" action="" method="POST">
                <div class="container">
                    <div class="buttonInside">
                        <label for="first-name">First Name:</label>
                        {{ forms.first_name }}
                        {% csrf_token %}
                        <button type="button" class="edit-button" onclick="edit1()"><i class="material-icons">mode_edit</i></button>
                    </div>
                    <div class="buttonInside">
                        <label for="last-name">Last Name:</label>
                        {{ forms.last_name }}
                        <button type="button" class="edit-button" onclick="edit2()"><i class="material-icons">mode_edit</i></button>
                    </div>
                    <div class="buttonInside">
                        <label for="e-mail">E-mail:</label>
                        {{ forms.email }}
                        <button type="button" class="edit-button" onclick="edit3()"><i class="material-icons">mode_edit</i></button>
                    </div>
                    <div class="buttonInside">
                        <label for="pass-word">Password:</label>
                        {{ forms.password }}
                        <button type="button" class="edit-button" onclick="edit4()"><i class="material-icons">mode_edit</i></button>
                    </div>
                    <div class="buttonInside">
                        <label for="re-password">Re-enter Password:</label>
                        {{ forms.repassword }}
                        <button type="button" class="edit-button" onclick="edit5()"><i class="material-icons">mode_edit</i></button>
                    </div>
                    <div class="buttonInside">
                        <label for="phone-number">Phone number:</label>
                        {{ forms.phoneNumber }}
                        <button type="button" class="edit-button" onclick="edit6()"><i class="material-icons">mode_edit</i></button>
                    </div>
                    <div class="buttonInside">
                        <label for="address">Address:</label>
                        {{ forms.address }}
                        <button type="button" class="edit-button" onclick="edit7()"><i class="material-icons">mode_edit</i></button>
                    </div>
                    <div class="buttonInside">
                        <label for="city">City:</label>
                        {{ forms.city }}
                        <button type="button" class="edit-button" onclick="edit8()"><i class="material-icons">mode_edit</i></button>
                    </div>
                    <div class="buttonInside">
                        <label for="zipcode">Zip code:</label>
                        {{ forms.zipCode }}
                        <button type="button" class="edit-button" onclick="edit9()"><i class="material-icons">mode_edit</i></button>
                    </div>
                    <div class="buttonInside">
                        <label for="country">Country:</label>
                        {{ forms.country }}
                        <button type="button" class="edit-button" onclick="edit10()"><i class="material-icons">mode_edit</i></button>
                    </div>
                </div>
                <input id="button" type="submit" value="Confirm">
            </form>
        </div>

<script>

    function edit1() {
        var input = document.getElementById("first-name");
        input.removeAttribute("readonly");
        input.select();
    }
    function edit2() {
        var input = document.getElementById("last-name");
        input.removeAttribute("readonly");
        input.select();
    }
    function edit3() {
        var input = document.getElementById("e-mail");
        input.removeAttribute("readonly");
        input.select();
    }
    function edit4() {
        var input = document.getElementById("pass-word");
        input.removeAttribute("readonly");
        input.select();
    }
    function edit5() {
        var input = document.getElementById("re-password");
        input.removeAttribute("readonly");
        input.select();
    }
    function edit6() {
        var input = document.getElementById("phone-number");
        input.removeAttribute("readonly");
        input.select();
    }
    function edit7() {
        var input = document.getElementById("address");
        input.removeAttribute("readonly");
        input.select();
    }
    function edit8() {
        var input = document.getElementById("city");
        input.removeAttribute("readonly");
        input.select();
    }
    function edit9() {
        var input = document.getElementById("zipcode");
        input.removeAttribute("readonly");
        input.select();
    }
    function edit10() {
        var input = document.getElementById("country");
        input.removeAttribute("readonly");
        input.select();
    }

</script>
{% endblock %}