{% extends 'base.html' %}
{% block content %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/editprofile.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <div class="signup_border">
            <h2>Your account</h2>
            <form target="_blank" action="/submitEval.php">
                <div class="container">
                    <div class="buttonInside">
                        <label for="first-name">First Name:</label>
                        <input class="inputs" placeholder="First name" type="text" name="firstname" id="first-name" readonly="readonly">
                        <button type="button" class="edit-button" onclick="edit1()"><i class="material-icons">mode_edit</i></button>
                    </div>
                    <div class="buttonInside">
                        <label for="last-name">Last Name:</label>
                        <input class="inputs" placeholder="Last name" type="text" name="lastname" id="last-name" readonly="readonly">
                        <button type="button" class="edit-button" onclick="edit2()"><i class="material-icons">mode_edit</i></button>
                    </div>
                    <div class="buttonInside">
                        <label for="e-mail">E-mail:</label>
                        <input class="inputs" placeholder="E-mail" type="text" name="email" id="e-mail" readonly="readonly">
                        <button type="button" class="edit-button" onclick="edit3()"><i class="material-icons">mode_edit</i></button>
                    </div>
                    <div class="buttonInside">
                        <label for="pass-word">Password:</label>
                        <input class="inputs" placeholder="******" type="password" name="password" id="pass-word" readonly="readonly">
                        <button type="button" class="edit-button" onclick="edit4()"><i class="material-icons">mode_edit</i></button>
                    </div>
                    <div class="buttonInside">
                        <label for="re-password">Re-enter Password:</label>
                        <input class="inputs" placeholder="******" type="password" id="re-password" readonly="readonly">
                        <button type="button" class="edit-button" onclick="edit5()"><i class="material-icons">mode_edit</i></button>
                    </div>
                    <div class="buttonInside">
                        <label for="phone-number">Phone number:</label>
                        <input class="inputs" placeholder="Phone number" type="text" name="phonenumber" id="phone-number" readonly="readonly">
                        <button type="button" class="edit-button" onclick="edit6()"><i class="material-icons">mode_edit</i></button>
                    </div>
                    <div class="buttonInside">
                        <label for="address">Address:</label>
                        <input class="inputs" placeholder="Address" type="text" name="address" id="address" readonly="readonly">
                        <button type="button" class="edit-button" onclick="edit7()"><i class="material-icons">mode_edit</i></button>
                    </div>
                    <div class="buttonInside">
                        <label for="city">City:</label>
                        <input class="inputs" placeholder="City" type="text" name="city" id="city" readonly="readonly">
                        <button type="button" class="edit-button" onclick="edit8()"><i class="material-icons">mode_edit</i></button>
                    </div>
                    <div class="buttonInside">
                        <label for="zipcode">Zip code:</label>
                        <input class="inputs" placeholder="Zip code" type="text" name="zipcode" id="zipcode" readonly="readonly">
                        <button type="button" class="edit-button" onclick="edit9()"><i class="material-icons">mode_edit</i></button>
                    </div>
                    <div class="buttonInside">
                        <label for="country">Country:</label>
                        <input class="inputs" placeholder="Country" type="text" name="country" id="country" readonly="readonly">
                        <button type="button" class="edit-button" onclick="edit10()"><i class="material-icons">mode_edit</i></button>
                    </div>
                </div>
                <input id="button" type="submit" value="Confirm">
            </form>
        </div>

<script>

    function edit1() {
        var input = document.getElementById("first-name");
        input.removeAttribute("readonly");
        input.focus();
    }
    function edit2() {
        var input = document.getElementById("last-name");
        input.removeAttribute("readonly");
        input.focus();
    }
    function edit3() {
        var input = document.getElementById("e-mail");
        input.removeAttribute("readonly");
        input.focus();
    }
    function edit4() {
        var input = document.getElementById("pass-word");
        input.removeAttribute("readonly");
        input.focus();
    }
    function edit5() {
        var input = document.getElementById("re-password");
        input.removeAttribute("readonly");
        input.focus();
    }
    function edit6() {
        var input = document.getElementById("phone-number");
        input.removeAttribute("readonly");
        input.focus();
    }
    function edit7() {
        var input = document.getElementById("address");
        input.removeAttribute("readonly");
        input.focus();
    }
    function edit8() {
        var input = document.getElementById("city");
        input.removeAttribute("readonly");
        input.focus();
    }
    function edit9() {
        var input = document.getElementById("zipcode");
        input.removeAttribute("readonly");
        input.focus();
    }
    function edit10() {
        var input = document.getElementById("country");
        input.removeAttribute("readonly");
        input.focus();
    }

</script>
{% endblock %}