{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/sign_up.css' %}">
{% endblock %}
{% block title %}Signup{% endblock %}
{% block content %}
        <div class="signup_border">
            <h3>Create your account</h3>
            <form class="container" action="{% url 'signup-index' %}" method="POST">
                {% csrf_token %}
                {{ form }}
                {{ userForm }}
                <input id="button" type="submit" value="Sign up">
            </form>
        </div>
{% endblock %}