{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/sign_up.css' %}">
        <div class="signup_border">
            <h2>Create your account</h2>
            <form target="_blank" action="/submitEval.php">
                <input class="inputs" placeholder="Last name" type="text" name="firstname" id="first-name"><br>
                <input class="inputs" placeholder="First name" type="text" name="lastname" id="last-name"><br>
                <input class="inputs" placeholder="E-mail" type="text" name="email" id="e-mail"><br>
                <input class="inputs" placeholder="Phone number" type="text" name="phonenumber" id="phone-number"><br>
                <input class="inputs" placeholder="Password" type="password" name="password" id="pass-word"><br>
                <input class="inputs" placeholder="Re-enter Password" type="password" id="re-password"><br>
                <input id="button" type="submit" value="Sign up">
            </form>
        </div>
{% endblock %}