{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/payment.css' %}">
{% endblock %}
{% block title %} Payment -{% endblock %}
{% block content%}
    <div class="container">
        <h2>Payment page</h2>
        <div class='prop-info-container'>
            <div class='img-container'>
                {% for image in images %}
                    {% if image.propertyId_id == property.propertyId %}
                        <img class='prop-img' src="{{ image.propImgUrl }}" alt="Property Image">
                    {% endif %}
                {% endfor %}
            </div>
            <div id="propinfo">
                <h2>{{ property.address }}</h2>
                <h3>{{ property.zipCode }}</h3>
                <p><b>Price: </b>&euro;{{ property.price }}</p>
                <p><b>Type: </b>{{ property.description.capitalize }}</p>
            </div>
        </div>
        <div class='billing-container'>
            <h3>Payment page</h3>
            <form target="POST" action="../paymentreview/{{ property.propertyId }}">
                <div class='box1'>
                    <h3>Creditcard info</h3>
                    <br>
                    <div id="cardType">
                        {% for field in form.cardTypes %}
                            {{ field }} {{ field.subject.label_tag }}
                        {% endfor %}
                    </div>
                    <br><br>
                    {% if form.nameOnCard %}
{#                       {{ form.nameOnCard }}#}
                        <input id="{{ form.nameOnCard.id_for_label }}" class="inputs" name="{{ form.nameOnCard.html_name }}" placeholder="Full Name" type="text" value="{{ user.first_name }} {{ user.last_name }}">
                    {% endif %}

                    {{ form.cardNumber }}
                    {{ form.expDate }}
                    {{ form.cvc }}
                </div>
                <div class='box2'>
                    <h3>Billing info</h3>
                    {% if form.bAddress %}
                        <input id="{{ form.bAddress.id_for_label }}" class="inputs" name="{{ form.bAddress.html_name }}" placeholder="Billing Address" type="text" value="{{ userInfo.address }}">
                    {% endif %}
                    {% if form.city%}
                        <input id="{{ form.city.id_for_label }}" class="inputs" name="{{ form.city.html_name }}" placeholder="City" type="text" value="{{ userInfo.city }}">
                    {% endif %}
                    {% if form.country %}
                        <select id="{{ form.country.id_for_label }}" class="inputs" name="country">
                            {% for value, country in countries %}
                                <option value="{{ value }}" {% if country == userInfo.country %} selected {% endif %}>{{ country }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                    {% if form.zipCode %}
                        <input id="{{ form.zipCode.id_for_label }}" class="inputs" name="{{ form.zipCode.html_name }}" placeholder="Postal Code" type="number" value="{{ userInfo.zip }}">
                    {% endif %}
{#                    {{ form.bAddress }}#}
{#                    {{ form.houseNumber }}#}
{#                    {{ form.city }}#}
{#                    {{ form.country}}#}
{#                    {{ form.zipCode }}#}
                </div>
                <input class="button" type="submit" value="Confirm">
            </form>
        </div>
    </div>



{% endblock %}