{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}
{% block title %} Search {% endblock %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/contacts.css' %}">
    <div class="realtorsBox">
        {% for realtor in realtors %}
            <div id="realtor{{ realtor.accountId_id }}" class="singleRealtor">
                {% for image in realtorImgs %}
                    {% if image.realtImgId == realtor.realtImgId_id %}
                        <img src="{{ image.realtImgUrl }}">
                    {% endif %}
                {% endfor %}
                {% for account in accounts %}
                    {% if account.accountId == realtor.accountId_id %}
                        <h4>{{ account.firstName }} {{ account.lastName }}</h4>
                    {% endif %}
                {% endfor %}
                <h5>Realtor info</h5>
            </div>
            <div id="myPopup{{ realtor.accountId_id }}" class="modal">
                <div class="popup-content">
                    <span class="close">&times;</span>
                    <div class="popupLeft">
                    {% for account in accounts %}
                        {% if account.accountId == realtor.accountId_id %}
                            <h3 class="htags">{{ account.firstName }} {{ account.lastName }}</h3>
                        {% endif %}
                    {% endfor %}
                        {% for image in realtorImgs %}
                            {% if image.realtImgId == realtor.realtImgId_id %}
                                <img src="{{ image.realtImgUrl }}">
                            {% endif %}
                        {% endfor %}
                        {% for account in accounts %}
                            {% if account.accountId == realtor.accountId_id %}
                                <div class="emailphone">
                                    <a class="email" href="mailto:{{ account.email }}" target="_top">{{ account.email }}</a>
                                    <br><br><span class="phone">+354 - {{ account.phoneNo }}</span>
                                </div>
                            {% endif %}
                        {% endfor %}
                        </div>
                        <h3 class="htags">Information</h3 >
                        <p class="realdes">{{ realtor.description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <script>
        // Opens a pop-up window with more details about clicked realtor
        document.body.addEventListener("click", function (e) {
            if (e.target.id.indexOf('realtor') >= 0) {
                popUp(e.target, "block");
            }
            else if (e.target.parentElement.id.indexOf('realtor') >= 0) {
                popUp(e.target.parentElement, "block");
            }
        });

        // closes popup window
        document.body.addEventListener("click", function(e) {
            if (e.target.id.indexOf("myPopup") >= 0) {
                popUp(e.target, "none");
            }
            else if (e.target.className == "close") {
                popUp(e.target.parentElement.parentElement, "none");
            }
        });

        function popUp(element, displayStyle) {
            var container = document.getElementById('myPopup'+element.id.slice(-2));
            container.style.display = displayStyle;

        }

    </script>
{% endblock %}