{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/paymentreview.css' %}">
{% endblock %}
{% block title %} Search {% endblock %}
{% block content %}
    <div class='review-container'>
        <h2>Payment review</h2>
        <div class="n-container">
            <div id="payinfo">
                <h4 style="text-align: center;">Payment information</h4>
            {% for realtor in realtors %}
                {% if property.realtId_id == realtor.realtId %}
                    {% for account in accounts %}
                        {% if realtor.accountId_id == account.accountId %}
                            <p><b>Realtor name: </b>{{ account.firstName }} {{ account.lastName }}</p>
                            <p><b>E-mail: </b>{{ account.email }}</p>
                            <h4 style="text-align: center;">Buyer's Info</h4>
                            <p><b>Name: </b>{{ forms.name }}</p>
                            <p><b>Billing address: </b>{{ forms.bAddress }}, {{ forms.zipCode }}</p>
                            <p><b>Credit card no: </b>{{ forms.cardNumber }}</p>
                            <p><b>Total: </b>&euro;{{ property.price }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </div>
            <div class='prop-info'>
            <div class='img-container'>
                {% for image in images %}
                    {% if image.propertyId_id == property.propertyId %}
                        <img class='prop-img' src="{{ image.propImgUrl }}" alt="Property Image">
                    {% endif %}
                {% endfor %}
            </div>
                <p><b>{{ property.address }}, {{ property.zipCode }}</b></p>
                <p>Registered {{ property.added }}</p>
                <p>Year built: {{ property.yearbuilt }}</p>
            </div>
            <form action="{% url 'home-index' %}">
                <input id="button" type="submit" value="Confirm">
            </form>

        </div>
    </div>

{% endblock %}